

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To The Future.</div>
                <div class="intro-heading"><a href="/robots/new" class="intro-heading2">Build Our Singularity Today</a></div>
                <a href="/robots" class="page-scroll btn btn-xl">Field Agents</a>
            </div>
        </div>
    </header>
